# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Run program'
      'command': 'program-runner:run'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'program-runner'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'program-runner:toggle'
        },
        {
          'label': 'Run'
          'command': 'program-runner:run'
        }
      ]
    ]
  }
]
